<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/content_two" method="post">
        <p>Content :</p>
        <p><textarea name="message" rows="36" cols="100" placeholder = "Your text here.">{{current_content}}</textarea></p>
        <input type = "hidden" name = "username" value = {{username}}>
        <p><input type="submit"></p>
    </form>

    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>